.dialog-container {
    font-family: "Graphik" !important;
}

.dialog-container .dialog-title {
    color: red;
}

.dialog-container .content {
    font-size: 13px;
}

.cancel-btn {
    color: #d30505de;
}

.cancel-btn:hover {
    background-color: #d30505de;
    color: white;
    border-radius: 5px;
}

.ok-btn {
    color: #29df78;
}

.ok-btn:hover {
    background-color: #29df78;
    color: white;
    border-radius: 5px;
}