<ngx-spinner type="timer" size="medium"></ngx-spinner>
<div class="navbar display-flex width-100">
  <div class="navbar-inner-container">
    <a class="heading-text">GRC - Risk Assessment</a>
    <div *ngIf="isAdmin" class="btn-container float-right">
      <button class="btn" mat-button [routerLink]="['users']" [routerLinkActive]="'active-route'"
        [routerLinkActiveOptions]="{exact:
        true}">Users</button>
      <button class="btn" mat-button [routerLink]="['risks']" [routerLinkActive]="'active-route'"
        [routerLinkActiveOptions]="{exact:
        true}">Risks</button>
    </div>
  </div>
</div>
<div class="content-container">
  <router-outlet></router-outlet>
</div>